@import '../../styles/responsive';

$vivid-sky-blue: hsla(191, 85%, 52%, 1);
$maximum-blue-purple: hsla(257, 57%, 76%, 1);
$desert-sand: hsla(25, 50%, 79%, 0.2);
$jet: hsla(240, 1%, 23%, 1);
$mint-green: hsla(97, 100%, 80%, 1);

.sidebar {
  height: 100%;
  min-width: 240px;
  max-width: 240px;

  background-color: $jet;
  color: var(--gray-50);

  &__wrp {
    padding: 24px;
  }
  &__logo {
    margin-bottom: 5rem;
  }
  &__links {
    ul {
      li {
        p {
          padding: 1em 20px;
          background-color: $desert-sand;
          border-radius: 5px;
        }
      }
    }
  }
}
